<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image.ai</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap" rel="stylesheet">
    <style>
        .button {
          --color: #00A97F;
          padding: 0.8em 1.7em;
          background-color: transparent;
          border-radius: .3em;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          transition: .5s;
          font-weight: 400;
          font-size: 17px;
          font-family: auto;
          border: 1px solid;
          color: var(--color);
          z-index: 1;
          }

          .button::before, .button::after {
          content: '';
          display: block;
          width: 50px;
          height: 50px;
          transform: translate(-50%, -50%);
          position: absolute;
          border-radius: 50%;
          z-index: -1;
          background-color: var(--color);
          transition: 1s ease;
          }

          .button::before {
          top: -1em;
          left: -1em;
          }

          .button::after {
          left: calc(100% + 1em);
          top: calc(100% + 1em);
          }

          .button:hover::before, .button:hover::after {
          height: 410px;
          width: 410px;
          }

          .button:hover {
          color: rgb(10, 25, 30);
          }

          .button:active {
          filter: brightness(.8);
          }

          .input {
            max-width: 500px;
            width: 400px;
            background-color: #f5f5f5;
            color: #242424;
            padding: .15rem .5rem;
            min-height: 40px;
            border-radius: 4px;
            outline: none;
            border: none;
            line-height: 1.15;
            box-shadow: 0px 10px 20px -18px;
          }

          input:focus {
            border-bottom: 2px solid #00A97F;
            border-radius: 4px 4px 2px 2px;
          }

          input:hover {
            outline: 1px solid lightgrey;
          }
          body{
            background-color: #20262E;
          }
          h1{
            color: #00A97F;
            margin: 0px;
            font-family: auto;
          }
          header{
            background-color: #141414;
            padding: 10px;
            box-shadow: 0px 10px 20px -18px;

          }
          body{
              margin: 0%;
              padding: 0%;
              font-family: auto;
          }
          .err{
            color:#F55050;
          }
          #searchedimg{
            height: auto;
            width: auto;
          }
          header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
          .card {
            width: 70%;
            min-height: 10rem;
            padding: 1rem;
            min-width: 200px;
            background: rgb(236, 236, 236);
            border-radius: 5px;
            text-align: left;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          }
          #para{
            font-size: inherit;
            color: #00A97F;
            white-space: pre-wrap;
            font-family: 'Raleway', sans-serif;
          }
          #ques{
            font-size: inherit;
            color: #20262E;
            font-family: 'Raleway', sans-serif;
          }

          .chatinbox{
            max-height: min-content;
          }
          @media screen and (max-width: 560px) {
              .input{
                  width: 90%;
              }
              #searchedimg{
                width: 100%;
              }
              .chatinbox{
                padding-bottom: 10px;
              }
              .card{
                width: 85%;
              }

          }
    </style>
</head>
<body>